@import url('https://fonts.googleapis.com/css?family=Sarabun');

body{
    background-color: pink;
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3%;
    background-color:#bc3b69;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
    img{
    width: 40px;
    height: 40px;
    }
    .form{
    display: flex;
    align-items: center;
    height: 3%;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    margin-left: 3%;
        input{  
            width: 99%;
            height: 50%;
            border: none;
            font-family: 'Sarabun', sans-serif;
            font-size: 20px;
            outline: none;  
            }
        button{
           background-color: silver;
           border-radius: 10%;
           .search{
               padding: 2%;
           }
            
           }
    }
}
}